.chatBox {
  width: 200px;
  height: 250px;
  overflow-y: scroll;
  max-height: 300px;
  background-color: aquamarine;
  padding: 5px 20px;
}

.messageBox {
  margin: 5px 5px;
}

.room-details {
  position: absolute;
  top: 0;
  left: 250px;
}
